
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('download.png');
    background-size: cover;
    background-position: center;
    background-color: #f8f9fa; 
}

#content_container {
    position: relative;
    height: 100vh;
}

#form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(192, 192, 192, 0.5); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

#form_header {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    color: #333; 
}

#form_content_container {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ced4da; 
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3; 
}
#content_container {
    position: relative;
    height: 100vh;
}

#form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(192, 192, 192, 0.5); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

#hidden_text {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: white; 
    font-size: 12px; 
    z-index: 999; 
}


