
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('download.png');
    background-size: cover;
    background-position: center;
    background-color: #f8f9fa; /* Светло сив цвят като заднина */
}

#content_container {
    position: relative;
    height: 100vh;
}

#form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(192, 192, 192, 0.5); /* По-прозрачен сив цвят */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Лека сянка за контейнера */
}

#form_header {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    color: #333; /* Тъмно сив цвят за заглавието */
}

#form_content_container {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ced4da; /* Светло сива рамка */
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff; /* Син цвят за бутоните */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавна анимация при ховър */
}

button:hover {
    background-color: #0056b3; /* По-тъмно син цвят при ховър */
}
#content_container {
    position: relative;
    height: 100vh;
}

#form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(192, 192, 192, 0.5); /* По-прозрачен сив цвят */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Лека сянка за контейнера */
}

#hidden_text {
    position: absolute;
    top: 10px; /* Настройте позицията според вашите предпочитания */
    left: 10px; /* Настройте позицията според вашите предпочитания */
    color: white; /* Бял цвят за текста */
    font-size: 12px; /* Размер на шрифта */
    z-index: 999; /* Уверете се, че този текст е над всичко друго */
}



